#textdomain wesnoth-Simple_mod

[era]
id=WDSimple_mod
name= _ "Simple_mod"
require_era=yes

{RANDOM_SIDE}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn.cfg}
[/era]

[era]
id=WDSimple_mod_Def
name= _ "Simple_mod + Default"
require_era=yes

{RANDOM_SIDE}
{multiplayer/factions/loyalists-default.cfg}
{multiplayer/factions/rebels-default.cfg}
{multiplayer/factions/northerners-default.cfg}
{multiplayer/factions/undead-default.cfg}
{multiplayer/factions/knalgans-default.cfg}
{multiplayer/factions/drakes-default.cfg}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn.cfg}
[/era]

[era]
id=WDSimple_mod_h
name= _ "Simple_mod Heroic"
require_era=yes

{RANDOM_SIDE}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn-Heroic.cfg}
[/era]

[era]
id=WDSimple_mod_Def_h
name= _ "Simple_mod + Default Heroic"
require_era=yes

{RANDOM_SIDE}
{multiplayer/factions/loyalists-aoh.cfg}
{multiplayer/factions/rebels-aoh.cfg}
{multiplayer/factions/northerners-aoh.cfg}
{multiplayer/factions/undead-aoh.cfg}
{multiplayer/factions/knalgans-aoh.cfg}
{multiplayer/factions/drakes-aoh.cfg}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn-Heroic.cfg}
[/era]

#ifhave ~add-ons/Forgotten_Legends
[era]
id=Forgotten_Extra_shadows
name= _ "Forgotten Legends + Simple_mod"
require_era=yes

{RANDOM_SIDE}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Frakcja1.cfg}
{~add-ons/Forgotten_Legends/factions/Forgotten_Legends-Frakcja2.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Frakcja3.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Frakcja4.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Frakcja5.cfg}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn.cfg}
[/era]
[era]
id=Forgotten_Extra_shadows_h
name= _ "Forgotten Legends + Simple_mod Heroic"
require_era=yes

{RANDOM_SIDE}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Heroes1.cfg}
{~add-ons/Forgotten_Legends/factions/Forgotten_Legends-Heroes2.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Heroes3.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Heroes4.cfg}
{~add-ons/Forgotten_legends/factions/Forgotten_Legends-Heroes5.cfg}
{~add-ons/Simple_mod/factions/Simple_mod-Shadowborn-Heroic.cfg}
[/era]
#endif