#textdomain wesnoth-units
[unit_type]
    id=Mini Saphire Dragon
    name= _ "Mini Saphire Dragon"
    race=monster
    image="frakcja1/minisaphiredragon.png"
    {DEFENSE_ANIM_RANGE "frakcja1/minisaphiredragon.png" "frakcja1/minisaphiredragon.png" {SOUND_LIST:DRAKE_HIT} melee}
    [abilities]
		{ABILITY_ILLUMINATES}
    [/abilities]
    hitpoints=50
    movement_type=fly
    movement=7
    experience=30
    level=2
    alignment=lawful
    advances_to=smallsaphiredragon
    {AMLA_DEFAULT}
    cost=20
    undead_variation=drake
    usage=mixed fighter
    description= _ "This is Mini Saphire Dragon. He is... yyyy...yyy.. I don't know what to write."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound=drake-die.ogg
    [resistance]
        fire=60
	arcane=65
	pierce=75
	blade=65
	cold=10
	impact=70
    [/resistance]
    [attack]
        name=mati hit
        description= _"mati hit"
        icon=attacks/mati.png
        type=blade
        range=melee
        damage=18
        number=2
    [/attack]
    [attack]
        name=vary mati hit
        description= _"very mati hit"
        icon=attacks/mati plecy.png
        type=impact
        range=melee
        damage=19
        number=3
    [/attack]
    [attack]
        name=matiosc
        description= _"matiosc"
        icon=attacks/mati smiech.png
        type=cold
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=15
        number=4
    [/attack]
	
	[standing_anim]
        start_time=0
        layer=60
        [frame]
            image="frakcja1/saphire-anim/minisaphira-[1~8].png:150"
        [/frame]
    [/standing_anim]
	
    [movement_anim]
        start_time=0
        [frame]
            image="frakcja1/saphire-anim/minisaphira-[1~8].png:150"
        [/frame]
    [/movement_anim]

    [attack_anim]
        [filter_attack]
            name=mati hit
        [/filter_attack]

        start_time=-200

        [frame]
            image="frakcja1/minisaphiredragon.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=very mati hit
        [/filter_attack]

        start_time=-200

        [frame]
            image="frakcja1/minisaphiredragon.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=matiosc
        [/filter_attack]

        [frame]
            image="frakcja1/minisaphiredragon.png"
        [/frame]

        missile_start_time=-240
        # due to its sheer size, the dragon NE attack breaths straight north
        [if]
            direction=n,ne,nw
            [missile_frame]
                image="projectiles/whitemissile-ne.png~FL():80"
                image_diagonal="projectiles/whitemissile-n.png:80"
                offset=0.0~1.1
                directional_x=50~0
                y=-30~-10
            [/missile_frame]
        [/if]
        [if]
            hits=yes
            [impact_frame]
                layer=90
                image="misc/blank-hex.png:1,projectiles/whitemissile-impact-[1~8].png:60,projectiles/whitemissile.png:40"
                offset=1.0
            [/impact_frame]
        [/if]

        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -250}
    [/attack_anim]
[/unit_type]
